@import 'tailwindcss';
@import 'stylesheet.css';

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden bg-slate-900 text-white;
    font-family: 'IM Fell English', Georgia, serif;
  }

  html {
    @apply h-full;
  }

  #app {
    @apply h-screen w-screen;
  }
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  border-radius: 5px;
  corner-shape: scoop;
}
