@import 'tailwindcss';
@import 'stylesheet.css';
@config '../tailwind.config.js';

@layer base {
  html,
  body {
    @apply m-0 overflow-hidden bg-slate-900 p-0 font-body text-white;
  }

  html,
  body,
  #app {
    height: 100dvh;
    min-height: 100dvh;
  }

  #app {
    @apply w-screen overflow-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  /* border-radius: 5px; */
  corner-shape: scoop;
}

.animate-spin-slow {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
